*.blg
*.bbl
*.aux
*.dvi
*.log
*.out
*.pdf
*.ps
*.toc
*.synctex.gz
*.lot
*.fls
*.fdb_latexmk
*.lof
/capstone-documentation/33_midterm_progress_report/Group_33_Midterm_Progress_Presentation.mp4
/capstone-documentation/33_midterm_progress_report/Group_33_Midterm_Progress_Presentation.pptx
