*.blg
*.bbl
*.aux
*.dvi
*.log
*.out
*.pdf
*.ps
*.toc
*.synctex.gz
*.lot
*.fls
*.fdb_latexmk
*.lof
*.mp4
*.pptx
/capstone-documentation/33_winter_progress_report/berezam_winter_progress_report/*
/capstone-documentation/33_winter_progress_report/berezam_winter_progress_report/*
/capstone-documentation/berezam_wired_article/MarkBereza_WIRED_text.docx
